<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hc.spring.mapper.LikeMapper">

    <resultMap id="LikeResultMap" type="org.hc.spring.entity.Like">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="target_type" property="targetType" />
        <result column="target_id" property="targetId" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <insert id="insertLike" parameterType="org.hc.spring.entity.Like">
        INSERT INTO likes (user_id, target_type, target_id)
        VALUES (#{userId}, #{targetType}, #{targetId})
    </insert>

    <delete id="deleteLike">
        DELETE FROM likes
        WHERE user_id = #{userId} AND target_type = #{targetType} AND target_id = #{targetId}
    </delete>

    <select id="selectByUserAndTarget" resultMap="LikeResultMap">
        SELECT * FROM likes
        WHERE user_id = #{userId} AND target_type = #{targetType} AND target_id = #{targetId}
    </select>

    <select id="countLikesByTarget" resultType="int">
        SELECT COUNT(*) FROM likes
        WHERE target_type = #{targetType} AND target_id = #{targetId}
    </select>

</mapper>